baseURL = "https://karttrackpark.com/"
title = "Kart Track Park"
theme = []

[params]
apiBase = "https://62lt3y3apd.execute-api.us-east-1.amazonaws.com"
cognitoDomain = "ktp-auth.auth.us-east-1.amazoncognito.com"
cognitoClientId = "5qs365gjfsc6kd1lnfbqbldo22"
[[module.mounts]]
source = "layouts"
target = "layouts"

[[module.mounts]]
source = "assets"
target = "assets"

[[module.mounts]]
source = "static"
target = "static"

[[module.mounts]]
source = "content"
target = "content"

[[module.mounts]]
source = "node_modules"
target = "assets/node_modules"

[[module.mounts]]
source = "node_modules/@fortawesome/fontawesome-free/webfonts"
target = "static/webfonts"
